In [1]:
t1 = ()   #empty tuple object
t2=  (10,20,30,10,40.5, "Rahul", True, [],{} )
t3=eval(input("Enter Tuple Object"))

t4 = tuple(range(10))

Enter Tuple Object(10,20,30)

In [2]:
t1 = ()   #empty tuple object
t2=  (10,20,30,10,40.5, "Rahul", True, [],{} )
t3=eval(input("Enter Tuple Object"))

t4 = tuple(range(10))

print(t1)
print(t2)
print(t3)
print(t4)

Enter Tuple Object("Rahul","Priyanka",10,20)
()
(10, 20, 30, 10, 40.5, 'Rahul', True, [], {})
('Rahul', 'Priyanka', 10, 20)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [3]:
t1 = tuple(10)
t2 = tuple([10,20,30])
t3= tupe({10,20,30,10})

print(t1)
print(t2)
print(t4)

TypeError: 'int' object is not iterable

In [5]:
#t1 = tuple(10)
t2 = tuple([10,20,30])
t3=  tuple({10,20,30,10})

#print(t1)
print(t2)
print(t4)

(10, 20, 30)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [6]:
t1 = tuple(range(10))
t2 = tuple([10,20,30])
t3=  tuple({10,20,30,10})

print(t3)
print(t2)
print(t1)

(10, 20, 30)
(10, 20, 30)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [7]:
enames=("Rahul","Sonia","Priyanka","Modi", "Ankith")

print(enames[0])

Rahul

In [8]:
enames=("Rahul","Sonia","Priyanka","Modi", "Ankith")


for ename in enames:
    print(ename)

Rahul
Sonia
Priyanka
Modi
Ankith

In [9]:
enames=("Rahul","Sonia","Priyanka","Modi", "Ankith")
#          0        1       2        3         4
i=0
while i<= len(enames)-1:
    print(enames[i])
    i=i+1

Rahul
Sonia
Priyanka
Modi
Ankith

In [10]:
enames=("Rahul","Sonia","Priyanka","Modi", "Ankith")

#how to sort tuple object

enames.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [15]:
enames=("Rahul","Sonia","Priyanka","Modi", "Ankith")

print(tuple(sorted(enames)))

('Ankith', 'Modi', 'Priyanka', 'Rahul', 'Sonia')

In [16]:
enames=("Rahul","Sonia","Priyanka","Modi", "Ankith")

print(tuple(sorted(enames,reverse=True)))

('Sonia', 'Rahul', 'Priyanka', 'Modi', 'Ankith')