In [1]:
s1 = {}
print(s1)
print(type(s1))

{}
<class 'dict'>

In [3]:
s2 = set([10])
print(s2)
print(type(s2))

{10}
<class 'set'>

In [4]:
#create empty set object
#using set function

s2 = set()
print(s2)

set()

In [5]:
#create empyt list,typle,set,dict
l1= []
t1 = ()
s1={}
d1={}

print(l1)
print(t1)
print(s1)
print(d1)

[]
()
{}
{}

In [6]:
#create empyt list,typle,set,dict
l1= []
t1 = ()
s1={}
d1={}

print(type(l1))
print(type(t1))
print(type(s1))
print(type(d1))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'dict'>

In [7]:
s2 = set()
print(s2)
print(type(s2))

set()
<class 'set'>

In [8]:
s4 = {10,20,30,40,10,20,30,40}
print(s4)

{40, 10, 20, 30}

In [9]:
s4 = {10,20,30,40}
print(s4)

{40, 10, 20, 30}

In [10]:
enames={"rahul","sonia","rahul","sonia"}

print(enames)

{'sonia', 'rahul'}

In [12]:
enames={"rahul","sonia","priyanka","Modi"}

for ename in enames:
    print(ename)

sonia
rahul
Modi
priyanka

In [13]:
enames={"rahul","sonia","priyanka","Modi"}
enames.add("Amith Shaw")

print(enames)

{'sonia', 'Amith Shaw', 'rahul', 'priyanka', 'Modi'}

In [14]:
enames={"rahul","sonia","priyanka","Modi"}

enames.update(["Amith Shaw", "Yedurappa"])
print(enames)

{'sonia', 'Amith Shaw', 'rahul', 'priyanka', 'Yedurappa', 'Modi'}

In [17]:
enames={"rahul","sonia","priyanka","Modi"}

enames.update(["Amith Shaw", "Yedurappa"])

print(enames)

{'sonia', 'Amith Shaw', 'rahul', 'priyanka', 'Yedurappa', 'Modi'}

In [18]:
enames={"rahul","sonia","priyanka","Modi"}
new_Enames= enames.copy()

print(enames)
print(new_Enames)

{'sonia', 'rahul', 'Modi', 'priyanka'}
{'sonia', 'rahul', 'Modi', 'priyanka'}